@tailwind base;
@tailwind components;
@tailwind utilities;

.blogimages{
	border-radius: 15px;
}

html,
body,
main{
	background-color: black;
	color: white;
}

.image{
	transform: scale(1) ;
	transition: all 700ms ease;
}

.image:hover{
	transform: scale(1.01) ;
	transition: all 700ms ease;
}